.container{
    width:300px;
    height:300px;
    border-radius:12px;
    border: 4px solid black;
    display:flex;
    padding: 23px 12px;
    background-color: gold;
    transition:
      width 3s,
      height 3s,
      background-color 3s,
      rotate 3s;
  }
  h2{
    text-shadow: 3px 4px 5px rgb(105, 92, 16);
    color: black;
  }
  p:hover{
    color: rgb(86, 75, 2);
    text-shadow: 3px 4px 5px rgb(105, 92, 16);

  }
  h1{
    text-shadow: 3px 4px 5px rgb(105, 92, 16);
    color: black;
  }
  .container:hover{
    background-color: blue;
    width: 400px;
    height: 400px;
    rotate: 180deg;
  }
  
  .ball {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background: #c00;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s;
  }
  nav{
    display: flex;
    gap: 0.6rem;
  }
  
  a {
    flex: 1;
    background-color:#141010;
    color: #fff;
    border:1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.6s ease-out;
  }
  
  a:hover,
  a:focus
  {
   background-color: #fff;
    color: #333;
  }
  .spinner {
    width:400px;
    height:300px;
    border: 4px solid  black;
    padding: 20px 20px 20px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
  }
  .spinner-content{
    width:100px;
    height:100px;
    border:3px solid;
    border-radius: 12px;
  }
  .spinner-content1{
    width:100px;
    height:100px;
    border:3px solid;
    border-radius: 12px;
    margin-left:120px;
    margin-top: -6.5rem;
  }
  .spinner-inner-content{
    width: 40px;
    height: 40px;
    padding:10px;
    margin: 1rem;
    border: 2px solid;
    border-radius: 50%;  
  }
  .spinner-content:hover{
     transition: 0.9s ease-out;
    rotate: 180deg;
  /*   transition-property: opacity, left, top, height; */
  /*   transition-duration: 4s,7s; */
  }
  .spinner-inner-content-eye{
    width:15px;
    height:15px;
    border:3px solid;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: black;
    
  }
  .spinner-inner-content-eye:hover{
    rotate: 180deg;
  }
  .spinner-inner-content-eye-lid{
    width: 50px;
    border-radius: 20px;
    border: 2px solid;
    background-color: black;
    margin: 10px;
    margin-left: 1rem;
    margin-bottom: -1px;
  }
  
  .btnn{
    padding: 1rem;
    margin-top: 80px;
  }

  @media (min-device-width:320px) and (max-device-width:768px) {

    .container{
        width:300px;
        height:300px;
        border-radius:12px;
        border: 4px solid black;
        display:flex;
        padding: 23px 12px;
        background-color: gold;
        transition:
          width 3s,
          height 3s,
          background-color 3s,
          rotate 3s;
      }
      h2{
        text-shadow: 3px 4px 5px gold;
      }
      .track{
        text-shadow: 3px 4px 5px rgb(110, 9, 88);
      }
      .container:hover{
        background-color: blue;
        width: 400px;
        height: 400px;
        rotate: 180deg;
      }
      
      .ball {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        background: #c00;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 1s;
      }
      nav{
        display: flex;
        gap: 0.9rem;
        justify-content: space-around;
      }
      
      a {
        flex: 1;
        background-color:#333;
        color: #d8d1d1;
        border:1px solid;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        transition: all 0.6s ease-out;
      }
      
      a:hover,
      a:focus
      {
       background-color: #fff;
        color: #333;
        width:50px;
      }
      .spinner {
        width:400px;
        height:300px;
        border: 4px solid  black;
        padding: 20px 20px 20px;
        margin-top: 20px;
        border-radius: 20px;
        text-align: center;
      }
      .spinner-content{
        width:100px;
        height:100px;
        border:3px solid;
        border-radius: 12px;
      }
      .spinner-content1{
        width:100px;
        height:100px;
        border:3px solid;
        border-radius: 12px;
        margin-left:120px;
        margin-top: -6.5rem;
      }
      .spinner-inner-content{
        width: 40px;
        height: 40px;
        padding:10px;
        margin: 1rem;
        border: 2px solid;
        border-radius: 50%;  
      }
      .spinner-content:hover{
         transition: 0.9s ease-out;
        rotate: 180deg;
      /*   transition-property: opacity, left, top, height; */
      /*   transition-duration: 4s,7s; */
      }
      .spinner-inner-content-eye{
        width:15px;
        height:15px;
        border:3px solid;
        margin: 0.5rem;
        border-radius: 50%;
        background-color: black;
        
      }
      .spinner-inner-content-eye:hover{
        rotate: 180deg;
      }
      .spinner-inner-content-eye-lid{
        width: 50px;
        border-radius: 20px;
        border: 2px solid;
        background-color: black;
        margin: 10px;
        margin-left: 1rem;
        margin-bottom: -1px;
      }
      
      .btnn{
        padding: 1rem;
        margin-top: 80px;
      }
   
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .container{
        width:300px;
        height:300px;
        border-radius:12px;
        border: 4px solid black;
        display:flex;
        padding: 23px 12px;
        background-color: gold;
        transition:
          width 3s,
          height 3s,
          background-color 3s,
          rotate 3s;
      }
      h2{
        text-shadow: 3px 4px 5px gold;
      }
      .container:hover{
        background-color: blue;
        width: 400px;
        height: 400px;
        rotate: 180deg;
      }
      
      .ball {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        background: #c00;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 1s;
      }
      nav{
        display: flex;
        gap: 0.6rem;
        padding: 12px;
      }
      
      a {
        flex: 1;
        background-color:#333;
        color: #fff;
        border:1px solid;
        padding: 0.5rem;
        text-align: center;
        text-decoration: none;
        transition: all 0.6s ease-out;
      }
      
      a:hover,
      a:focus
      {
       background-color: #fff;
        color: #333;
      }
      .spinner {
        width:400px;
        height:300px;
        border: 4px solid  black;
        padding: 20px 20px 20px;
        margin-top: 20px;
        border-radius: 20px;
        text-align: center;
      }
      .spinner-content{
        width:100px;
        height:100px;
        border:3px solid;
        border-radius: 12px;
      }
      .spinner-content1{
        width:100px;
        height:100px;
        border:3px solid;
        border-radius: 12px;
        margin-left:120px;
        margin-top: -6.5rem;
      }
      .spinner-inner-content{
        width: 40px;
        height: 40px;
        padding:10px;
        margin: 1rem;
        border: 2px solid;
        border-radius: 50%;  
      }
      .spinner-content:hover{
         transition: 0.9s ease-out;
        rotate: 180deg;
      /*   transition-property: opacity, left, top, height; */
      /*   transition-duration: 4s,7s; */
      }
      .spinner-inner-content-eye{
        width:15px;
        height:15px;
        border:3px solid;
        margin: 0.5rem;
        border-radius: 50%;
        background-color: black;
        
      }
      .spinner-inner-content-eye:hover{
        rotate: 180deg;
      }
      .spinner-inner-content-eye-lid{
        width: 50px;
        border-radius: 20px;
        border: 2px solid;
        background-color: black;
        margin: 10px;
        margin-left: 1rem;
        margin-bottom: -1px;
      }
      
      .btnn{
        padding: 1rem;
        margin-top: 80px;
      }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}