body {
  margin: 0;
  body {
    font-family: 'Roboto', sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* ReverseTextForm.css */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Gray background color */
}

form {
  text-align: center;
}

button {
  margin-top: 10px; /* Add some space between input and button */
}
